/* src/components/Carousel.css */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100%, 100%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M4.5 0l-4 4 4 4v-1.5l-2.5-2.5 2.5-2.5v-1.5z"%3E%3C/path%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 8 8"%3E%3Cpath d="M3.5 0v1.5l2.5 2.5-2.5 2.5v1.5l4-4-4-4z"%3E%3C/path%3E%3C/svg%3E');
}
